---
title: 'Horsens Webdesign | Om Os'
description: 'Om os Horsens Webdesign'
preloadImg: '/assets/images/1.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Om os</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/1.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/1.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/1.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/pic1.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/pic1.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/pic1.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Om os</span>
                <h2 class="cs-title">Om Horsens Webdesign</h2>
                <p class="cs-text">
                    Mit navn er Niels Johan, og jeg er ejer samt hovedudvikler hos Horsens Webdesign. Min ambition har altid været at skabe en karriere, hvor jeg kan arbejde hjemmefra, og derfor har jeg dedikeret de sidste to år til at lære webudvikling fra bunden – den rigtige måde. Efter at have mestret håndværket begyndte jeg at kontakte små virksomheder for at tilbyde min hjælp.


                </p>
                <p class="cs-text">
                    Det blev hurtigt klart for mig, at mange små virksomheder stod over for et stort problem. De havde enten ikke budgettet til at investere i en professionel hjemmeside, eller også havde de betalt store summer for en løsning, der var forældet, ineffektiv og langt fra pengene værd. Mange følte sig fanget – de havde brug for en stærk online tilstedeværelse, men vidste ikke, hvem de kunne stole på.

                    For at løse dette problem udviklede jeg en mere tilgængelig og fair forretningsmodel: Ingen opstartsomkostninger og en fast lav månedlig pris på 999 kr. Det gør det muligt for små virksomheder at få en professionel hjemmeside uden økonomisk risiko og uden at gå på kompromis med kvaliteten.

                    Min mission er at give lokale virksomheder den digitale platform, de fortjener – uden skjulte gebyrer, uden kompromiser og med en service, de kan stole på.
                </p>
                
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}