---
title: 'Horsens Webdesign | Contentwriting'
description: 'Contentwriting ydelser Horsens Webdesign'
preloadImg: '/assets/images/imagename.format'
permalink: 'contentwriting/'
eleventyNavigation:
    key: Webdesign
    parent: Delete, or put another page's key here to create a dropdown
    order: 1200
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/contentwriting.css" />
       
{% endblock %}

{% block body %}
                                
{% endblock %}