---
title: 'Horsens Webdesign | Marketing'
description: 'Description for <meta> and OG tags'
preloadImg: '/assets/images/imagename.format'
permalink: 'marketing/'
eleventyNavigation:
    key: Webdesign
    parent: Delete, or put another page's key here to create a dropdown
    order: 1200
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/marketing.css" />
       
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper -->
        <!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1402">
    <div class="cs-container">
        <span class="cs-int-title">Webdesign</span>
       
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" alt="people laughing" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-852">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">h1 - A Personalized Approach To Your <span class="cs-color">Well-Being</span></h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4-6</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum adipisci, ipsum commodi, cupiditate, sequi quos enim! Quaerat esse non sunt! Lorem ipsum dolor sit amet <a href="">link example</a>. Est, quis!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum <strong>adipisci, ipsum commodi</strong>, cupiditate, sequi quos enim! 
            </p>
            <h3>Heading 3</h3>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ol>
            <h4>Heading 4-6</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent2.jpg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fcontent2.jpg" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1386">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Vores Priser</span>
            <h2 class="cs-title">Skræddersyet Marketing</h2>
            <p class="cs-text">
                Boost din lokale tilstedeværelse med vores skræddersyede SEO-pakke til små virksomheder. <br>Vi optimerer din Google Business Profil, foretager grundig søgeordsresearch og finjusterer dit indhold for maksimal lokal effekt. <br>Derudover sikrer vores løbende forbedring af din sidescore, at din hjemmeside forbliver konkurrencedygtig og præsterer optimalt. 
                <br>Lad os hjælpe dig med at tiltrække mere lokal trafik og vækste din virksomhed!
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Marketing</span>
                    <span class="cs-price">
                        4999.-
                        <span class="cs-duration">/Måned</span>
                    </span>
                   
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Opsætning af Google Ads</li>
                        <li class="cs-li">Opsætning af Facebook Ads</li>
                        <li class="cs-li">Data drevet optimering</li>
                    </ul>
                    <a href="" class="cs-button-transparent">KONTAKT OS</a>
                </div>
            </li>
            
        </ul>
    </div>
</section>                                                             
             
<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1376">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Vores Process</span>
            <h2 class="cs-title">Standardiseret process for at sikre [NOGET]</h2>
        </div>
        <!--
            We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
        -->
        <div class="cs-card-group">
            <div class="cs-group1">
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step1.svg" alt="icon"
                            width="48" height="48"/>
                    </picture>
                    <h3 class="cs-h3">Indledende dialog</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step2.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Opstart af din Google-annoncering</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Optimering</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                    </p>
                </div>
            </div>
            <div class="cs-group2">
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step4.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Månedlige møder</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                    </p>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg" alt="icon" width="32"
                            height="32"/>
                    </picture>
                    <h3 class="cs-h3">Rapportering</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, et?
                    </p>
                </div>
            </div>
            <picture class="cs-waves">
                <!--Mobile Image-->
                <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg" alt="wave" width="1280" height="568">
            </picture>
        </div>
    </div>
</section>
                                
{% endblock %}