---
title: 'Horsens Webdesign | SEO'
description: 'Description for <meta> and OG tags'
preloadImg: '/assets/images/imagename.format'
permalink: 'seo/'
eleventyNavigation:
    key: Webdesign
    parent: Delete, or put another page's key here to create a dropdown
    order: 1200
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/webdesign.css" />
  
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1402">
    <div class="cs-container">
        <span class="cs-int-title">SEO</span>
       
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" alt="people laughing" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1402">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/4.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/4.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/4.jpg" alt="people" width="542" height="728">
                </picture>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Mobile Design
                    </h3>
                    <p class="cs-item-text">
                        From smartphones to desktops, your visually stunning, functional website will seamlessly adapt to all screen sizes.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        Ubegrænsede ændringer
                    </h3>
                    <p class="cs-item-text">
                        Prisen inkluderer ubegrænsede ændringer. Der er ingen merpris for at få noget rettet. 
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Webdesigntjenester i Horsens: løft din online tilstedeværelse med <span class="cs-color">Horsens Webdesign</span></h1>
            <h2>Skræddersyede Web Løsninger</h2>
            <p> Vores webdesigntjenester er skræddersyet til at opfylde hver enkelt kundes unikke behov og mål. Vi tror på styrken ved tilpasning, og vores team arbejder tæt sammen med dig for at forstå din virksomhed, din målgruppe og dine mål. Uanset om du er en lille lokal virksomhed eller en stor koncern, har vi ekspertisen og kreativiteten til at bringe din vision til live. Fra slanke og moderne designs til mere traditionelle layouts tilbyder vi en række muligheder, der passer til dine præferencer og dit budget.</p>
            <h3>Mobile-First</h3>
             <p>
                I dagens mobildrevne verden er det afgørende at have et website, der fungerer godt på smartphones og tablets. Derfor har vi en mobil-først-tilgang til webdesign. Vores hjemmesider er bygget med responsive designprincipper, der sikrer, at de ser ud og fungerer fejlfrit på alle enheder og skærmstørrelser. Ved at prioritere mobiloptimering hjælper vi dig med at nå ud til og engagere dit publikum, uanset hvor de befinder sig, og med at skabe trafik og konverteringer til din hjemmeside.
            </p>
            <h4>SEO Optimering</h4>
           
            <p>
                At have et smukt designet website er kun første skridt. For virkelig at få succes online skal din hjemmeside være let at finde i søgemaskinerne. Det er her, vores SEO-optimering kommer ind i billedet. Vi bruger branchens førende SEO-strategier til at forbedre din hjemmesides synlighed og placering på søgemaskinernes resultatsider. Fra søgeordsanalyse til optimering på siden sikrer vi, at din hjemmeside er fuldt optimeret til søgning, så du kan tiltrække mere organisk trafik og få din virksomhed til at vokse online.
            </p>
            <h3>Content Management Systems</h3>
            <p> Vi forstår, at det skal være nemt og intuitivt at administrere og opdatere din hjemmeside. Derfor har vi udviklet vores eget indholdsstyringssystem (CMS), som gør det nemt at tilføje, redigere og slette indhold på din hjemmeside uden nogen form for teknisk ekspertise. Uanset om du udgiver blogindlæg, opdaterer produktlister eller tilføjer nye varer til din restaurantmenu, gør vores CMS-løsninger det nemt at holde din hjemmeside frisk og engagerende for dit publikum.</p>
        
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Kontakt</span>
                    <h2 class="cs-title">Hør fra os</h2>
                    <p class="cs-text">
                        Hør hvad en skræddersyet løsning fra os, kan gøre for dig og dit firma
                    </p>
                </div>
                <label>
                    Navn
                    <input required type="text" id="name" name="name" placeholder="Navn">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Telefonnummer
                    <input required type="text" id="phone" name="phone" placeholder="Telefonnummer">
                </label>
                <label class="cs-label-message">
                    Besked
                    <textarea required name="Message" id="message" placeholder="Skriv besked..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Send besked</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Telefonnummer</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Adresse</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}}
                    <br />
                    <span class="cs-block">
                         {{client.address.zip}},
                        {{client.address.city}}

                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>           
{% endblock %}