---
title: 'Horsens Webdesign | Webdesign'
description: 'Description for <meta> and OG tags'
preloadImg: '/assets/images/imagename.format'
permalink: 'services/'
eleventyNavigation:
    key: Webdesign
    parent: Delete, or put another page's key here to create a dropdown
    order: 1200
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/webdesign.css" />
       
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper -->
        <!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1402">
    <div class="cs-container">
        <span class="cs-int-title">Webdesign</span>
       
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" alt="people laughing" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1402">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/4.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/4.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/4.jpg" alt="people" width="542" height="728">
                </picture>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Mobile Design
                    </h3>
                    <p class="cs-item-text">
                        From smartphones to desktops, your visually stunning, functional website will seamlessly adapt to all screen sizes.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        Ubegrænsede ændringer
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Webdesigntjenester i Horsens: løft din online tilstedeværelse med <span class="cs-color">Horsens Webdesign</span></h1>
            <h2>Skræddersyede Web Løsninger</h2>
            <p> Vores webdesigntjenester er skræddersyet til at opfylde hver enkelt kundes unikke behov og mål. Vi tror på styrken ved tilpasning, og vores team arbejder tæt sammen med dig for at forstå din virksomhed, din målgruppe og dine mål. Uanset om du er en lille lokal virksomhed eller en stor koncern, har vi ekspertisen og kreativiteten til at bringe din vision til live. Fra slanke og moderne designs til mere traditionelle layouts tilbyder vi en række muligheder, der passer til dine præferencer og dit budget.</p>
            <h3>Mobile-First</h3>
             <p>
                I dagens mobildrevne verden er det afgørende at have et website, der fungerer godt på smartphones og tablets. Derfor har vi en mobil-først-tilgang til webdesign. Vores hjemmesider er bygget med responsive designprincipper, der sikrer, at de ser ud og fungerer fejlfrit på alle enheder og skærmstørrelser. Ved at prioritere mobiloptimering hjælper vi dig med at nå ud til og engagere dit publikum, uanset hvor de befinder sig, og med at skabe trafik og konverteringer til din hjemmeside.
            </p>
            <h4>SEO Optimering</h4>
           
            <p>
                At have et smukt designet website er kun første skridt. For virkelig at få succes online skal din hjemmeside være let at finde i søgemaskinerne. Det er her, vores SEO-optimering kommer ind i billedet. Vi bruger branchens førende SEO-strategier til at forbedre din hjemmesides synlighed og placering på søgemaskinernes resultatsider. Fra søgeordsanalyse til optimering på siden sikrer vi, at din hjemmeside er fuldt optimeret til søgning, så du kan tiltrække mere organisk trafik og få din virksomhed til at vokse online.
            </p>
            <h3>Content Management Systems</h3>
            <p> Vi forstår, at det skal være nemt og intuitivt at administrere og opdatere din hjemmeside. Derfor har vi udviklet vores eget indholdsstyringssystem (CMS), som gør det nemt at tilføje, redigere og slette indhold på din hjemmeside uden nogen form for teknisk ekspertise. Uanset om du udgiver blogindlæg, opdaterer produktlister eller tilføjer nye varer til din restaurantmenu, gør vores CMS-løsninger det nemt at holde din hjemmeside frisk og engagerende for dit publikum.</p>
        
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-1371">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Hvorfor vælge os?</span>
            <h2 class="cs-title">0 Kroner i udbetaling <br> 999 Kroner om måneden <br> 12 Måneders binding</h2>
            <p class="cs-text">
                0 kroner i udbetaling for en standard 5 siders hjemmeside til en lille eller mellemstor virksomhed. Hvis du har brug for mere end det, laver en tilpasset pris baseret på arbejdets omfang, antallet af ekstra sider og den tid, det tager. 
            </p>
            <p class="cs-text">
                <strong>Du ejer selv dit domæne og dit indhold. Du kan opsige abonnementet når du vil, dog ikke i din bindingsperiode.</strong>
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why1.svg" alt="icon" width="24" height="24">
                    Hosting inkluderet
                </h3>
                <p class="cs-item-text">
                    Du skal ikke bekymre dig om hosting for din hjemmeside. Det er inkluderet i prisen. 
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why2.svg" alt="icon" width="24" height="24">
                    24/7 Kundeservice
                </h3>
                <p class="cs-item-text">
                    Jeg kan træffes på min mobiltelefon, når du har brug for det. 
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why3.svg" alt="icon" width="24" height="24">
                    Perfekt Google hastighed
                </h3>
                <p class="cs-item-text">
                    En høj Google hastighed er med til at rangere dig højt på Google. Dette er noget af det vigtigste i forhold til, hvor nemt det er for kunder, at ifnde dig på Google. 
                </p>
            </li>
            <li class="cs-item-picture">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/7.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/7.jpg">
                    <!-- 4,5,7 -->
                    <img loading="lazy" decoding="async" src="/assets/images/7.jpg" alt="people" width="590" height="418">
                </picture>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why4.svg" alt="icon" width="24" height="24">
                    Ubegrænsede ændringer
                </h3>
                <p class="cs-item-text">
                    Prisen inkluderer ubegrænsede ændringer. Der er ingen merpris for at få noget rettet. 
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why5.svg" alt="icon" width="24" height="24">
                    Web Design & Develop
                </h3>
                <p class="cs-item-text">
                    Din hjemmeside er designet og udviklet specifikt til dig. Prisen inkluderer logo og design.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why6.svg" alt="icon" width="24" height="24">
                    Google Analytics
                </h3>
                <p class="cs-item-text">
                    Jeg installerer Google Analytics for at kunnne se hvor din hjemmesides trafik kommer fra.
                </p>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>    
<!-- ============================================ -->
<!--                  Donations                   -->
<!-- ============================================ -->

<section id="donations-1153">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ADDITIONAL SERVICES</span>
            <h2 class="cs-title">Forbedr dit website med vores anbefalede tilføjelser</h2>
            <p class="cs-text">
                Hos Horsens Webdesign forstår vi, at alle virksomheder er unikke og kan have brug for yderligere tjenester for at opfylde deres behov og mål fuldt ud. Derfor tilbyder vi en række anbefalede tilføjelser til at forbedre din hjemmeside og højne din online tilstedeværelse. Tilføjelserne nedenfor er designet til at hjælpe dig med at tiltrække flere kunder, forbedre brugeroplevelsen og etablere autoritet i din branche.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                   <source media="(max-width: 600px)" srcset="/assets/images/7.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/7.jpg">
                    <img loading="lazy" decoding="async" src="" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">Services side</span>
                 
                    <p class="cs-item-text">
                        Vi opretter individuelle sider for hver af de tjenester, du tilbyder. Dette hjælper ikke kun med at forbedre brugeroplevelsen ved at give detaljerede oplysninger om hver tjeneste, men forbedrer også din hjemmesides søgemaskineoptimering (SEO) ved at målrette specifikke søgeord relateret til disse tjenester.
                    </p>
                    
                    
                  
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/8.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/8.jpg">
                    <img loading="lazy" decoding="async" src="" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">Lokationer</span>
                 
                    <p class="cs-item-text">
                        For virksomheder, der har flere lokationer, er tilføjelsen Lokationer afgørende for lokal SEO. Vi opretter individuelle sider for hvert sted, hvor du arbejder, og optimerer dem med stedsspecifikke søgeord, virksomhedsoplysninger og kundeudtalelser.
                    </p>
                    
                    
                  
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/9.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/9.jpg">
                    <img loading="lazy" decoding="async" src="" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <span class="cs-date">Blog Integration</span>
                    <p class="cs-item-text">
                        At have en aktiv blog er en af de mest effektive måder at forbedre din hjemmesides SEO og engagere dit publikum på. Med tilføjelsen Blog Integration integrerer vi problemfrit en blog på dit website, så du kan udgive regelmæssigt indhold og etablere dig som en autoritet i din branche.
                    </p>
                    
                   
                    
                </div>
            </li>
        </ul>
    </div>
</section>
                      <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Kontakt</span>
                    <h2 class="cs-title">Hør fra os</h2>
                    <p class="cs-text">
                        Hør hvad en skræddersyet løsning fra os, kan gøre for dig og dit firma
                    </p>
                </div>
                <label>
                    Navn
                    <input required type="text" id="name" name="name" placeholder="Navn">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Telefonnummer
                    <input required type="text" id="phone" name="phone" placeholder="Telefonnummer">
                </label>
                <label class="cs-label-message">
                    Besked
                    <textarea required name="Message" id="message" placeholder="Skriv besked..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Send besked</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Telefonnummer</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Adresse</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}}
                    <br />
                    <span class="cs-block">
                         {{client.address.zip}},
                        {{client.address.city}}

                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>           
                                                                     
{% endblock %}